body {
background-color: black;  
}

.image-container {
  background-image: none;
  background-size: cover;
  height 300px;
}

.wrapper {
  border: none;
  text-align: center;
  font-size: 10vw;
  border-radius: 5px;
  font-family: 'Poppins', Sans-Serif;
  background-color: none;
  padding: 10px;
  margin: 0 auto;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
  width: 500px;
  color: white;
}
